{
    "type": "postgres",
    "host": "localhost",
    "port": 5432,
    "username": "user",
    "password": "pwd",
    "database": "db",
    "entities": ["src/entity/*.ts"],
    "logging": false,
    "synchronize": true
}
